/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #ff0070;
  --color-text: #f1b2ce;
  --color-title: #db00ff;
  --background-color: #000028;
  --color-subtitle: #000028;
  --color-subtopic: #ff0070;
  --color-decorative-element: #ff0070;
  --visibility-decorative-element: visible;
  --color-button-auto: rgba(255, 0, 112, 0.4);
  --cover: url("../images/cover-image-dark.png");
  background-image: url("../images/cover-image-dark.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
