/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #FF0070;
  --color-text: #F1B2CE;
  --color-title: #DB00FF;
  --background-color: #000028;
  --color-subtitle:#000028;
  --color-subtopic:#FF0070;
  --color-decorative-element:#FF0070;
  --visibility-decorative-element: visible;
  --accent-cover: url('../images/cover-image-dark.png');
}
