/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: var(--page-font-family);
  font-size: var(--font-size-text);
  background-color: var(--background-color);
  background-attachment: fixed;
  background-image: var(--cover);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header {
  block-size: 100vh;
  position: relative;
  display: grid;
  min-block-size: 668px;
  margin-block-end: 31px;
  padding: 10px;
}

.container {
  padding: 10px;
  margin-block-end: 30px;
}

.decorative-element::after {
  content: "";
  border-block-start: 1px solid var(--color-decorative-element);
  border-inline-end: 1px solid var(--color-decorative-element);
  position: absolute;
  right: 10px;
  top: 10px;
  inline-size: 25px;
  block-size: 25px;
}

.decorative-element::before {
  content: "";
  border-block-end: 1px solid var(--color-decorative-element);
  border-inline-start: 1px solid var(--color-decorative-element);
  position: absolute;
  bottom: 10px;
  left: 10px;
  inline-size: 25px;
  block-size: 25px;
}

.header__decorative-element {
  text-transform: uppercase;
  visibility: var(--visibility-decorative-element);
  position: absolute;
  top: 10px;
  right: 20px;
  color: var(--accent-color);
  font-size: var(--font-size-text);
  font-family: inherit;
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__decorative-element::after {
  content: "";
  display: inline-block;
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.header__theme-menu {
  align-self: end;
  padding-block-end: 7%;
  justify-self: flex-end;
}

.header__theme-menu-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.header__theme-menu-button {
  color: var(--color-decorative-element);
  background-color: transparent;
  border: var(--value-none);
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  padding-inline-start: var(--button-padding);
  padding-inline-end: var(--button-padding);
}

.header__theme-menu-button_active {
  pointer-events: var(--value-none);
  border: var(--border-button-block-end);
}
.header__theme-menu-button_type_light:hover,
.header__theme-menu-button_type_dark:hover,
.header__theme-menu-button_type_auto:hover {
  color: var(--color-decorative-element);
  border: var(--border-button);
}

.header__theme-menu-button_type_dark:focus-visible,
.header__theme-menu-button_type_light:focus-visible,
.header__theme-menu-button_type_auto:focus-visible {
  color: var(--color-decorative-element);
  outline: var(--value-none);
  border-block-end: var(--border-button-block-end);
}

.title {
  color: var(--color-title);
  text-shadow: 4px 4px 0px var(--accent-color);
  font-family: var(--page-font-family);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  align-self: center;
  box-sizing: border-box;
  padding-block-start: 2.5%;
}

.title_box-shadow_less {
  text-shadow: 2px 2px 0px var(--accent-color);
}

.title-decor {
  background-color: var(--accent-color);
}

.header__text-start,
.header__text-end {
  display: block;
}

.subtitle {
  color: var(--color-subtitle);
  font-family: var(--page-font-family);
  font-size: var(--font-size-text);
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
}
.subtitle_font-weight_min {
  font-weight: 400;
}
.header__text-container {
  align-self: center;
  justify-self: end;
  margin-block-end: 6.5%;
  max-inline-size: 355px;
}
/*.......................................main................................................................*/

.why__cards-container,
.what__cards-cotnainer,
.how__cards-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-element {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title-subtopic {
  color: var(--color-subtopic);
  font-family: var(--page-font-family);
  font-size: var(--font-size-text);
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  margin-block-end: var(--text-title-margin);
}

.subtitle-color {
  background-color: var(--accent-color);
}

.subtitle_margin-bottom {
  margin-block-end: var(--text-margin);
}

.main-text {
  color: var(--color-text);
  font-family: var(--page-font-family);
  font-size: var(--font-size-text);
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
}

.href-into-text {
  color: var(--color-text);
  text-shadow: 4px 2px 0px var(--accent-color);
  text-decoration: none;
}

.href-into-text:hover {
  border-block-end: 1px solid var(--color-text);
}

.href-into-text:focus-visible {
  outline: 1px solid var(--color-text);
}

.gallery,
.gallery__title {
  max-inline-size: 1024px;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.gallery__container {
  display: grid;
  gap: 4px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  block-size: 100vh;
  margin-block-start: 25px;
  position: relative;
  margin-block-end: 0;
  min-height: 668px;
}

.title_padding_auto {
  padding-block-start: 0;
}

@media (min-width: 768px) {
  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    padding-block-start: 12.5%;
  }

  .container {
    padding: 20px;
    margin-block-end: 40px;
  }

  .header {
    background-position: top;
    padding: 20px 20px 20px 0px;
  }

  .header__text-container {
    justify-self: end;
    max-inline-size: 364px;
    margin-block-end: 10.5%;
  }

  .header__theme-menu {
    padding-block-end: 0%;
    padding-block-start: 10px;
  }

  .header__decorative-element {
    top: 20px;
    right: 30px;
  }

  .subtitle_margin-bottom {
    margin-block-end: 20px;
  }

  .decorative-element::after {
    right: 20px;
    top: 20px;
  }

  .decorative-element::before {
    bottom: 20px;
    left: 20px;
  }
  .title_padding_auto {
    padding-block-start: 0;
  }

  .why {
    display: grid;
    grid-template-columns: 1fr 2.3fr;
    padding-block-start: 30px;
  }

  .why__cards-container {
    padding-inline-start: 37px;
  }

  .what__subtopic {
    max-inline-size: 20%;
  }

  .how {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .how__cards-container {
    max-inline-size: 485px;
    padding-inline-start: 3%;
  }

  .gallery__picture {
    block-size: 100%;
  }

  .gallery {
    margin-block-end: 20px;
  }

  .gallery__container {
    margin-block-start: 15px;
    gap: 15px 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ."
      ". street street"
      ". . .";
  }

  .gallery__item-sunset {
    grid-area: sunset;
  }

  .gallery__item-ice-cream {
    grid-area: ice-cream;
    grid-row: 1 / 3;
  }

  .gallery__item-tape {
    grid-area: tape;
    grid-row: 2 / 4;
  }

  .gallery__item-books {
    grid-area: books;
  }

  .gallery__item-street {
    grid-area: street;
  }

  .footer {
    margin-block-end: 0;
  }
}

@media (min-width: 1024px) {
  .title {
    padding-block-start: 15.5%;
    text-shadow: 4px 4px 0px #ff0070;
  }

  .header__theme-menu {
    padding-block-start: 0;
    align-self: auto;
    justify-self: auto;
  }

  .header__text-container {
    max-inline-size: 491px;
    align-self: end;
    margin-block-end: 11.5%;
  }

  .header__theme-menu-list {
    margin-inline-start: 2%;
    gap: 9px;
    flex-direction: row;
    justify-content: center;
  }
  .what__cards-cotnainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    flex-wrap: wrap;
  }
  .what__blocks-container {
    max-inline-size: 315px;
  }

  .what__subtopic {
    max-inline-size: 260px;
  }

  .how__cards-container {
    padding-inline-start: 1%;
    max-inline-size: 656px;
  }

  .title-subtopic {
    max-inline-size: 315px;
  }

  .gallery {
    margin-block-end: 20px;
  }

  .footer {
    margin-block-end: 0;
  }
  .title_padding_auto {
    padding-block-start: 0;
  }
}
