:root {
  --accent-color: #ff0070;
  --color-text: #f1b2ce;
  --color-title: #db00ff;
  --background-color: #000028;
  --color-subtopic: #ff0070;
  --color-subtitle: #000028;
  --color-decorative-element: #ff0070;
  --color-button-auto: #ff007066;
  --font-size-text: 18px;
  --page-font-family: "IBM Plex Mono", monospace;
  --text-title-margin: 20px;
  --text-margin: 10px;
  --visibility-decorative-element: visible;
  --cover: url("../images/cover-image-dark.png");
  --value-none: "none";
  --button-padding: 13px;
}
